:root {
  --sand-color: #c7c4b1;
  --light-sand-color: #f6f0e7;
  --dark-brown-color: #5b5d52;
  --blue-green-color: #00afbc;
  --dark-brown-text-color: #464740;
  --white-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
}

.chat {
  flex: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .top {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: var(--sand-color);

    .exitBar {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: var(--sand-color);
      color: var(--dark-brown-color);
    }

    .exitButton {
      background-color: purple;
      color: var(--light-sand-color);
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--light-sand-color);
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid black;
    width: 80%;

    .warningText {
      h1 {
        color: var(--dark-brown-text-color);
      }
    }
    .actionButtons {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }

    .cancelExitButton {
      background-color: var(--light-sand-color);
      padding: 5px 15px;
      cursor: pointer;
      border: 2px solid purple;
      border-radius: 5px;
      .texts {
        color: purple;
        gap: 5px;
        text-decoration: none;

        p {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }

    .confirmExitButton {
      background-color: purple;
      padding: 5px 15px;
      cursor: pointer;
      border: none;
      border-radius: 5px;

      .texts {
        color: var(--light-sand-color);
        gap: 5px;
        text-decoration: none;

        p {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 20px;
          background-color: var(--dark-brown-color);
          color: var(--light-sand-color);
          border-radius: 10px;
        }

        span {
          font-size: 13px;
        }
      }
    }

    .message-child {
      max-width: 70%;
      display: flex;
      gap: 20px;
      align-self: flex-end;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 20px;
          background-color: var(--dark-brown-color);
          color: var(--light-sand-color);
          border-radius: 10px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  }

  .bottom {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(0, 0, 0);
    gap: 10px;
    margin-top: auto;
    background-color: var(--sand-color);
  }
}

.dialog::backdrop {
  background: hsla(0, 0%, 0%, 0.4);
}
